html[data-theme="light"] {
  --pst-color-primary: #9e0142;
  --pst-color-secondary: #3288bd;
  --pst-color-success: #66c2a5;
  --pst-color-info: #5e4fa2;
  --pst-color-warning: #3288bd;
  --pst-color-danger: #d53e4f;
  --pst-color-target: #fee08b;
  --pst-color-background: #ffffff;
  --pst-color-on-background: #ffffff;
  --pst-color-surface: #f5f5f5;
  --pst-color-inline-code: var(--pst-color-primary);
  --pst-color-text-base: #262339;
  --pst-color-text-muted: #3d4853;
}

.sd-card {
  background: #ffffff;
  border-radius: 0;
  padding: 30px 10px 20px 10px;
  margin: 10px 0px;
}

.sd-card .sd-card-header {
  text-align: center;
}

.sd-card .sd-card-header .sd-card-text {
  margin: 0px;
}

.sd-card .sd-card-img-top {
  height: 52px;
  width: 52px;
  margin-left: auto;
  margin-right: auto;
}

.sd-card .sd-card-header {
  border: none;
  background-color: white;
  color: #150458 !important;
  font-size: var(--pst-font-size-h5);
  font-weight: bold;
  padding: 2.5rem 0rem 0.5rem 0rem;
}

.sd-card .sd-card-footer {
  border: none;
  background-color: white;
}

.sd-card .sd-card-footer .sd-card-text {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}


/* FAQ */

div.admonition.admonition-faq {
  border-color: var(--pst-color-info);
}
div.admonition.admonition-faq > .admonition-title:before {
  background-color: var(--pst-color-info);
}
div.admonition.admonition-faq > .admonition-title:after {
  color: var(--pst-color-info);
  content: "\f059";
}