@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.navbar-brand img {
   height: 75px;
}
.navbar-brand {
   height: 75px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

pre, code {
  font-size: 100%;
  line-height: 155%;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #262339; /* black from logo */
}

h2 {
  color: #3288bd; /* blue from logo*/
  letter-spacing: -.03em;
}

h3 {
  color: #262339; /* black from logo */
  letter-spacing: -.03em;
}